/** Arquivo folha de estilos de css para o Modulo de Adm. **/

/* Home Adm */

*{margin: 0; padding: 0;}
 
body
{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

.menu
{
    position: fixed;
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
    width: 100%;
    margin: 0 0 3em 0;
    padding: 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

.menu ul 
{
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0; 
}

.menu li
{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}

.menu li a
{
    color:#333; 
    text-decoration:none; 
    padding: 8px 15px;
    display:block;
    font-weight: bold;
    border-right: 1px solid #ccc;
}

#nav li:first-child a {
    border-left: 1px solid #ccc; 
}
 
.menu li a:hover
{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul
{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:inline-block;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li
{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}

h2 
{
    display: block;
    font-size: 10em;
    margin-top: 1.2em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}

#link-home
{
    text-align: left;
}

h2[title="model-title"]
{
    font-size: 2em;
    text-align: left;
}

.icon-search
{
    padding: 0;
    float: left;
}

.search-box
{
    float: left;
    padding: 0 5px;
    list-style: none; 
}

.table
{
    margin:0px;
    padding:0px 0px 0px 0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}

.table table
{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.table tr:last-child td:last-child
{
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}

.table table tr:first-child td:first-child
{
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}

.table table tr:first-child td:last-child
{
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}



