{% extends "includes/assync_wrapper.html" %}

{% load staticfiles %}
{% load custom_template %}

{% block head %}
	<script src="{% static 'Adm/script_home.js' %}"></script>
	<script src="{% static 'Adm/script_models.js' %}"></script>

	<link 	rel="stylesheet" type="text/css"
			href="{% static 'Adm/styles.css' %}" />
	<link 	rel="stylesheet" type="text/css"
			href="{% static 'Adm/table_styles.css' %}" />	
	<link 	rel="stylesheet"
			href="{% static 'Adm/icons/css/font-awesome.min.css' %}" />
{% endblock %}

{% block body %}
	<div id="link-home"><a href="">Home</a></div>
	<h2 title="model-title" id="mod_{{ model }}">{{ model }}</h2>
	<div class="icon-search"><i class="fa fa-search"></i></div>
	<div class="search-box">
		<form id="acc_search" action="" method="post">
			{{ form }}
			{% csrf_token %}
			<input type="submit" value="Search">
		</form>
	</div>
	<br /><br />
	{% if err %}
		<div id="error">{{ err }}</div>
	{% endif %}
	<br /><br />
	<table class="table">
		<tr>
			<td>Name</td>
			<td>Registration</td>
			<td>Professor</td>
		</tr>
		{% if data %}
			{% for item in data %}
				<tr>
				{% for field, value in item.items %}
					{% if field|table_course %}
						<td>{{ value }}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
		{% endif %}
	</table>
{% endblock %}
