{% extends "includes/assync_wrapper.html" %}
{% load staticfiles %}

{% block head %}
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<link	rel="stylesheet"
			type="text/css"
			href="{% static 'vendor/select2/select2.css' %}" />
	<script src="{% static 'Adm/script_edit_field.js' %}">
	</script>
{% endblock %}

{% block body %}
	{% if err %}
		{{ form }}
	{% else %}
		<form action="" method="post" id="{{ data.action }}_form" 
			{% if data.action == "avatar" %} enctype="multipart/form-data"> <img src="{{ MEDIA_URL }}{{ user.avatar }}" /{% endif %}>
			{% for field in form %}
				
				{{ field }}<br />

			{% endfor %}
			<input type="submit" name="{{ data.action }}" value="Editar" />
		</form>

		<div class="dialog"></div>
	{% endif %}
{% endblock %}