{% extends "includes/assync_wrapper.html" %}
{% load staticfiles %}

{% block head %}

	<script src="{% static 'Adm/script_edit.js' %}">
	</script>

{% endblock %}

{% block body %}
	<form {% if action == "att" or action == "srcdel" %} id="edit_form" 
		 {% elif action == "insert" %} id="insert_form" {% elif action == "reg" %}
		 id = "reg_form" {% endif %} action="" method="post" >

		{{ form }}<br /> 
		{% if action == "reg" %} <input type="hidden" name="model" 
								value="{{ model }}"> {% endif %}
		{% csrf_token %}

		<input type="submit" name="{{ action }}" {% if action == "reg" %} 
			   value="{{ DICT.REGISTER }}" {% endif %} 
			   value="{{ DICT.SEARCH }}" /> 

	</form>

	<div class="dialog"></div>
	<div class="inner_dialog"></div>
	<div id="model_{{ model }}"></div>

{% endblock %}
