{% extends "includes/wrapper.html" %}
{% load staticfiles %}

{% block title %} SALiE Admin {% endblock %}

{% block head %}
	<script src="{% static 'Adm/script.js' %}"></script>
	<script src="{% static 'include/select2/select2.min.js' %}"></script>

	<link 	rel="stylesheet"
			type="text/css"
			href="{% static 'Adm/styles.css' %}" />


{% endblock %}

{% block content %}

<h3>MENU</h3>
	<div id="container">
		<div id="left" class="p-left">
			<div style="padding-left:70px"><h2>Aluno</h2></div>
			  	<button id="reg_Student"
						class="button">Registrar Novo Aluno</button>
				<button id="att_Student"
						title=""
						class="button">Atualizar dados de Aluno</button>
				<button id="del_Student"
						class="button">Apagar Registro de Aluno</button>
		</div>
	  	<div id="center">
	  		<div style="padding-left:70px"><h2>Curso</h2></div>
		  	<button id="reg_Professor"
					class="button">Registrar Novo Curso</button>
			<button id="att_Professor"
					class="button">Atualizar dados de Curso</button>
			<button id="del_Professor"
					class="button">Apagar Registro de Curso</button>
		</div>
	  	<div id="right" class="p-right">
	  		<div style="padding-left:55px"><h2>Professor</h2></div>
		  	<button id="reg_Course"
					class="button">Registrar Novo Professor</button>
			<button id="att_Course"
					class="button">Atualizar dados de Professor</button>
			<button id="del_Course"
					class="button">Apagar Registro de Professor</button>
		</div>
	</div>

	<div class="dialog"></div>

{% endblock %}