{% extends "includes/wrapper.html" %}
{% load staticfiles %}

{% block title %} {{ DICT.ELO_ADM }} {% endblock %}

{% block head %}
	<script src="{% static 'Adm/script_home.js' %}"></script>

	<link 	rel="stylesheet"
			type="text/css"
			href="{% static 'Adm/styles.css' %}" />


{% endblock %}

{% block content %}
	{{ error }}
	{{ result }}

	<nav>
		<ul class="menu">
			<div id ="Student"><li><a href="#">Students</a></li></div>
			<div id ="Professor"><li><a href="#">Professors</a></li></div>
			<div id ="Courses"><li><a href="#">Courses</a></li></div>
			<div id ="Log"><li><a href="#">Log</a></li></div>
			<div id ="Graphs"><li><a href="#">Graphs</a></li></div>
			<div id ="Documentatin"><li><a href="#">Documentation</a></li></div>
		</ul>
	</nav>

	<h2>Welcome, Adm o/.</h2>

	<div class="dialog"></div>

{% endblock %}
