{% extends "includes/assync_wrapper.html" %}
{% load staticfiles %}

{% block head %}

	<script src="{% static 'Adm/script_info.js' %}">
	</script>

{% endblock %}

{% block body %}

	<div {% if model == 'Student' or model == 'Professor' %} 
	id="username_{{ data.username }}" {% endif %} 
	id="username_{{ data.courMatric }}" ></div>
	<div id="csrf_{{ csrf }}"></div>

	{% for field, value in data.items %}
		{{ field }}: {{ value }}<br />

		{% if action == "att" %}
			<button id="edit_{{ model }}"
					title="{{ action }}"
					field="{{ field }}"
					>Edit</button><br /><br />
		{% endif %}

	{% endfor %}

	{% if action == "srcdel" %}
		<button id="del_{{ model }}"
				title="{{ action }}"
				>Delete</button><br /><br />
	{% endif %}

	<div class="dialog"></div>

{% endblock %}









