{% extends "includes/assync_wrapper.html" %}
{% load staticfiles %}

{% block head %}
	<script src="{% static 'include/select2/select2.min.js' %}"></script>
	<link	rel="stylesheet"
			type="text/css"
			href="{% static 'include/select2/select2.css' %}" />
	<script src="{% static 'Profile/script_select2.js' %}"></script>
	<link	rel="stylesheet"
			type="text/css"
			href="{% static 'Profile/styles_select2.css' %}" />
{% endblock %}

{% block body %}
	{% if err %}
		{{ form }}
	{% else %}
		<form action="" method="post" id="{{ ff }}_form">
			{% for field in form %}
				
				{{ field }}<br />

			{% endfor %}
			{% csrf_token %}
			<input type="submit" name="{{ ff }}" value="{{ DICT.SUBMIT }}" />
		</form>
	{% endif %}

	<div hidden="true" id="dlist">{% for d in dlist %}{{ d }}, {% endfor %}</div>
{% endblock %}