{% extends "includes/assync_wrapper.html" %}

{% block head %}
{% endblock %}

{% block body %}
	<form>
	{% if field == "avatar" %}
		<img src="{{ user.avatar }}" /><br />
		<input name="avatar_edit" type="file" />
	{% else %} {# avatar #}
	{% if field == "interests" %}
		{# falta resolver como isso vai funcionar #}
		{% for interest in user.interests %}
			{{ intetest }} <button>-</button>
		{% endfor %}
		(+)
	{% else %} {# interests #}
	{% if field == "sex" %}
		<select name="sex_edit">
			<option value="M" 
				{% if user.sex == "M" %}
					selected 
				{% endif %}
							>M</option>
			<option value="F"
				{% if user.sex == "F" %}
					selected
				{% endif %}
							>F</option>
		</select>
	{% else %} {# sex #}
	{% if field == "bios" %}
		<textarea name="bios_edit">
			{{ user.bios }}
		</textarea>
	{% else %} {# bios #}
	{% if field == "name" %}
		<input name="name_edit" type="text" value="{{ user.name }}" />
	{% else %} {# name #}
	{% if field == "language" %}
		<select name="language_edit">
			<option value="pt-br"
				{% if user.language == "pt-br" %}
					selected
				{% endif %}
						>pt-br</option>
			<option value="en-us"
				{% if user.language == "en-us" %}
					selected
				{% endif %}
						>en-us</option>
		</select>
	{% endif %} {# language #}
	{% endif %} {# name #}
	{% endif %} {# bios #}
	{% endif %} {# sex #}
	{% endif %} {# interests #}
	{% endif %} {# avatar #}
	<input name="edit_profile" type="submit" value="{{ DICT.SUBMIT }}" />
	</form>
{% endblock %}