{% extends "includes/wrapper.html" %}
{% load staticfiles %}

{% block title %}{{ DICT.ELO_PROFILE }}{% endblock %}

{% block head %}
    <script src="{% static 'Profile/script.js' %}"></script>
    <link   rel="stylesheet"
            type="text/css"
            href="{% static 'Profile/styles.css' %}" />
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
{% endblock %}

{% block content %}
    {{ error }}
    &lt; TEMPORARY PROFILE &gt;<br />
    {% for field, value in data.items %}
        {{ field }}: {{ value.value }}<br />
        {% if value.edit %}
            <button id="edit_{{ field }}"
                    title="{{ value.fname }}"
                    >Edit</button><br /><br />
        {% endif %}
    {% endfor %}
    <div class="dialog"></div>
{% endblock %}