{% extends "includes/wrapper.html" %}
{% load staticfiles %}

{% block title %}{{ DICT.ELO_PROFILE }}{% endblock %}

{% block head %}
	<script src="{% static 'Profile/script.js' %}"></script>
	<link 	rel="stylesheet"
			type="text/css"
			href="{% static 'Profile/styles.css' %}" />
{% endblock %}

{% block content %}
	&lt; TEMPORARY PROFILE &gt;<br />
	{% for field, value in data.items %}
		{{ field }}: {{ value.value }}<br />
		{% if value.edit %}
			<button id="edit_{{ field }}">Edit</button><br /><br />
		{% endif %}
	{% endfor %}
	<div class="dialog"></div>
{% endblock %}