{% extends "includes/wrapper.html" %}
{% load staticfiles %}

{% block title %} {{ DICT.ELO_HOME }} {% endblock %}

{% block head %}
	<link 	rel="stylesheet"
		type="text/css"
		href="{% static 'Profile/styles.css' %}" />
{% endblock %}

{% block content %}	
	<div id="topper">
		<div id="profile-ph">
			<img id="avatar-ph" src="{{ MEDIA_URL}}/{{ user.avatar }}" />
			<div id="p_info">
				<h1>{{ user.name }}</h1>
				<ul>
					<li>{{ DICT.MATRIC }}: {{ user.matric }}</li>
					<li>{{ DICT.BIOS }}: {{ user.bios }}</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="bottomer">
		<div id="p_courses">
			<ul>
			{% for course in user.courses %}
				<li>{{ course }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
