{% extends "includes/wrapper.html" %}
{% load staticfiles %}

{% block title %} {{ DICT.ELO_HOME }} {% endblock %}

{% block head %}
    <link   rel="stylesheet"
        type="text/css"
        href="{% static 'Profile/styles.css' %}" />
{% endblock %}

{% block content %} 
    <div id="topper">

        <div id="profile-ph">
            <img id="avatar-ph" src="{{ MEDIA_URL}}{{ user.avatar }}" />
            <div id="p_info">
                <h1>{{ user.name }}</h1>
                <ul>
                    <li>{{ DICT.MATRIC }}: {{ user.matric }}</li>
                    <li>{{ DICT.BIOS }}: {{ user.bios }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="bottomer">
        <div id="p_courses">
            {% if user.type == 'Student' %}
                {% for course in user.courses %}
                    <a href="/course/{{ course.id }}/">
                        {{ course.name }}: 
                        <progress value="{{ course.completion }}" max="{{ course.total }}"></progress>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
