{% extends "includes/wrapper.html" %}

{% block title %} {{ DICT.ELO_HOME }} {% endblock %}

{% block content %}	
	<div id="topper">
		<div id="p_avatar">
			<img src="{{ user.avatar }}" />
		</div>
		<div id="p_info">
			<h1>{{ user.name }}</h1>
			<ul>
				<li>{{ user.matric }}</li>
				<li>{{ user.bios }}</li>
			</ul>
			<div id="p_info_edit"><a href="/profile/">Edit</a></div>
		</div>
	</div>

	<div id="bottomer">
		<div id="p_courses">
			<ul>
			{% for course in user.courses %}
				<li>{{ course }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
