/**Arquivo folha de estilos de css*/
.banner
{
 	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
	position: fixed;
	font-size: 30px;
	text-align: left;
	color: white;
	top: 0px;
	padding-left:20px;
}
.error
{
	color: #dd1150;
}

.field
{
	text-align: right;
	color: white;
	font-size:17px;
	float:right;
	padding-right:20px;
	padding-top:5px;
}

a.field
{	
	text-decoration:none;
}

.field:hover
{
	color: #67B6FF;
}

.mainMenu
{
	position: fixed;
	top:5px;
	right:10px;
	width:100%;
}

.menuTab
{	
	text-align:left;
	background-color: black;
	position:fixed ;
	top:0px;
	width:100%;
	height:35px;
	
}

.content
{
	text-align: left;
	color: #331156;
	margin-top: 1cm;
	height:100%;
	padding:10px;
	padding-bottom:20px;	
}

body
{
	background:#E3E3E3;
	margin:0;
	padding:0;	
	padding-bottom:30px;
}

.dados{
	text-align: right;
	margin-top: 0.2cm;
}
.foot{	
	color:white;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	position:absolute;
   	width:100%;
   	height:50px;   
   	background:#000;
	/*margin-left:auto;
	margin-right:auto;
	left:0px;
	right:0px;
	bottom:-10px;*/
}

.footext{
	color:white;
	position:absolute;
	width:100%;
	text-align:center;
	padding-top:30px;
	text-decoration:none;
	font-size:15px;
}

.firstAcess{
	color:gray;
}

.ffield
{
	margin-top: 0.2cm;
	margin-bottom:10px;
}

.manipular ul{
	margin-top:50px;
}

.manipular li{
	margin-top:10px;
}

