{% extends "includes/wrapper.html" %}
{% load staticfiles %}

{% block title %}{{ DICT.ELO_COURSE }}{% endblock %}

{% block head %}
    <link   rel="stylesheet"
            type="text/css"
            href="{% static 'Course/styles.css' %}" />
{% endblock %}

{% block content %}

    <div id="parent">
        <div id="topper">
        </div>
        <br />
        <div id="left_bar">
            <ul>
            {% for module in course.MODULE %}
                <li><div class="module_link">{{ module.name }}</div></li>
            {% endfor %}
            </ul>
        </div>
        <div id="container">
        </div>
        <button>&lt;</button><button>&gt;</button>
        <br />
    </div>

{% endblock %}
