{% extends "includes/wrapper.html" %}
{% load staticfiles %}

{% block title %}{{ DICT.ELO_COURSE }}{% endblock %}

{% block head %}
    <script src="{% static 'Course/script.js' %}"></script>
    <link   rel="stylesheet"
            type="text/css"
            href="{% static 'Course/styles.css' %}" />
{% endblock %}

{% block content %}

    <div id="parent">
        <div id="topper">
        </div>
        <br />
        <div id="left_bar">
            <div id="module_accordion">
            {% for module in course.MODULE %}
                <h3>{{ module.name }}</h3>
                <div>
                    {% for lesson in module.lessons %}
                        {{ lesson }}
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="container">
        </div>
        <button>&lt;</button><button>&gt;</button>
        <br />
    </div>

{% endblock %}
