{% extends "includes/wrapper.html" %}

{% block title %} ELO Login {% endblock %}

{% block content %} 

	{% if error %}
		<div class="error">
			{{ error }}
		</div>
	{% endif %}

	<form method="POST" action="/{{ target }}">

		<div class="ffield">
			<label for="id_username">
				{{ DICT.USERNAME }}
			</label>
			{{ form.username }}
		</div>

		<div class="ffield">
			<label for="id_password">
				{{ DICT.PASSWORD }}
			</label>
			{{ form.password }}
		</div>
		
		<div class="ffield">
			{% csrf_token %}
			<input type="submit" value="Login" name="login_form" />
		</div>
	</form>
<div class="firstAcess">
	Primeiro acesso? Cadastre-se aqui
</div>
{% endblock %}


